In [181]:
import pandas as pd

url_or_file='https://docs.google.com/spreadsheets/d/e/2PACX-1vQrGR2RwQBQAbt3Mzu0UbgKMGSY1hxXtt8rV1fcLzrwjRy2KBDUaSOoT5EKt-j0t6cxZ0KIz-4O0ZVf/pub?gid=891049362&single=true&output=csv'

dfok=pd.DataFrame()
dfok.columns = [c.replace(' ', '_') for c in dfok.columns]
dfok.columns = [c.replace('/', '_') for c in dfok.columns]

dfok['Carimbo_de_data_hora']=''
dfok['Answer']=''
dfok['Question']=''
dfok['Questionid']=''

for i in range(1,14):
    colunas=[0,i]
    df = pd.read_csv(url_or_file, header=0,usecols=colunas)
    pergunta=df.columns[1]    
    df = df.rename(columns={ pergunta : 'Answer'})    
    df['Question']=pergunta
    df['Questionid']=i        
    dfok = (pd.concat([dfok, df],ignore_index = True))
    dfok['Carimbo_de_data_hora']= (pd.to_datetime(dfok['Carimbo_de_data_hora']))
    dfok['Questionid']=(pd.to_numeric(dfok['Questionid']))

len(dfok)

#print(dfok[0:1100])

# dfok1 = dfok[0:1085]
inicio=(8*216)
fim=(inicio+1)
dfok1 = dfok[inicio:fim]

In [182]:
display(dfok1)

,Carimbo_de_data_hora,Answer,Question,Questionid
1728,2022-01-09 21:17:58,"Ambev Tech, Capgemini, Warren",8) Das empresas âncoras do Programa Entra21 es...,8

In [183]:
#lista=[1,2,3,4,5,6,7,8,9,10]
lista=[1]
dfok1.insert(1,'AnswerNum2',lista)

In [184]:

display(dfok1)

,Carimbo_de_data_hora,AnswerNum2,Answer,Question,Questionid
1728,2022-01-09 21:17:58,1,"Ambev Tech, Capgemini, Warren",8) Das empresas âncoras do Programa Entra21 es...,8

In [185]:
dfok1b=pd.DataFrame()
display (dfok1)

,Carimbo_de_data_hora,AnswerNum2,Answer,Question,Questionid
1728,2022-01-09 21:17:58,1,"Ambev Tech, Capgemini, Warren",8) Das empresas âncoras do Programa Entra21 es...,8

In [186]:

def verifica(base8,empresa):
    ret='None'
    for a,b in base8.items():
        if (a == empresa):
            ret = b                        
            
    return ret

        
base8 = {
'Senior Sistemas' : 'Empresa1',
'Philips':'Empresa2',
'Ailos' : 'Empresa3',
'Capgemini' : 'Empresa4',
'Ambev Tech' : 'Empresa5',
'Warren' : 'Empresa6',
'DataInfo' : 'Empresa7',
'Farmácias App' : 'Empresa8',
'Havan Labs' : 'Empresa9',
'T-Systems' : 'Empresa10',
'Unifique' : 'Empresa11',
'Ambev Tech, Capgemini, Warren' : 'Mestre'
}

    
if dfok1['Questionid'].values == 8: 
    novo_nome = verifica(base8,dfok1['Answer'].values)
    print(novo_nome)
    #display(dfok1['Questionid'].values)
    #display(dfok1['Answer'].values)

Mestre

In [187]:
crb=[]
qst=[]
qid=[]
ans=[]

for index,row in dfok1.iterrows():            
    for x in (list(str.split(row.Answer,sep=','))): 
        crb.append(row.Carimbo_de_data_hora)
        qst.append(row.Question)
        qid.append(row.Questionid)
        ans.append(x)
        
dfok1b['Carimbo_de_data_hora'] = crb
dfok1b['Question'] = qst
dfok1b['Questionid'] = qid
dfok1b['Answer'] = ans

In [188]:
dfok1b.shape

(3, 4)

In [189]:

display (dfok1b)

,Carimbo_de_data_hora,Question,Questionid,Answer
0,2022-01-09 21:17:58,8) Das empresas âncoras do Programa Entra21 es...,8,Ambev Tech
1,2022-01-09 21:17:58,8) Das empresas âncoras do Programa Entra21 es...,8,Capgemini
2,2022-01-09 21:17:58,8) Das empresas âncoras do Programa Entra21 es...,8,Warren

In [179]:
cria_lista1 = list()
def verifica(base8,empresa):
    ret='None'
    for a,b in base8.items():
        if (a == empresa):
            ret = b                        
            
    return ret

        
base8 = {
'Senior Sistemas' : 'Empresa1',
'Philips':'Empresa2',
'Ailos' : 'Empresa3',
'Capgemini' : 'Empresa4',
'Ambev Tech' : 'Empresa5',
'Warren' : 'Empresa6',
'DataInfo' : 'Empresa7',
'Farmácias App' : 'Empresa8',
'Havan Labs' : 'Empresa9',
'T-Systems' : 'Empresa10',
'Unifique' : 'Empresa11',
'Ambev Tech, Capgemini, Warren' : 'Mestre'
}

cria_lista1.append(dfok1b['Answer'].values)
cria_lista2 = []
for i in cria_lista1:
    cria_lista2.append(i)
    print(cria_lista2)


if dfok1['Questionid'].values == 8: 
    novo_nome = verifica(base8,cria_lista2)
    print(novo_nome)
    display(dfok1b)

[array(['Ambev Tech', ' Capgemini', ' Warren'], dtype=object)]
None

,Carimbo_de_data_hora,Question,Questionid,Answer
0,2022-01-09 21:17:58,8) Das empresas âncoras do Programa Entra21 es...,8,Ambev Tech
1,2022-01-09 21:17:58,8) Das empresas âncoras do Programa Entra21 es...,8,Capgemini
2,2022-01-09 21:17:58,8) Das empresas âncoras do Programa Entra21 es...,8,Warren