In [ ]:
import pandas as pd

Importando planilha google docs

In [ ]:
url_or_file='https://docs.google.com/spreadsheets/d/e/2PACX-1vQrGR2RwQBQAbt3Mzu0UbgKMGSY1hxXtt8rV1fcLzrwjRy2KBDUaSOoT5EKt-j0t6cxZ0KIz-4O0ZVf/pub?gid=891049362&single=true&output=csv'

Criando Dataframe vazio onde recebera atravez do laço for, todas as perguntas com suas respostas das (14) colunas.

In [ ]:
df=pd.DataFrame()
df['Carimbo_de_data_hora']=''
df['Answer']=''
df['Question']=''
df['Questionid']=''

In [ ]:
# # aqui estamos limpando nomes de colunas que vinham com espaço e charcter / 
# df.columns = [c.replace(' ', '_') for c in dfok.columns]
# df.columns = [c.replace('/', '_') for c in dfok.columns]

No laço for abaixo percorremos todas as colunas do CSV adicionando dm df_coluna_by_coluna

In [ ]:
for i in range(1,14):
    colunas=[0,i]
    df_coluna_by_coluna = pd.read_csv(url_or_file, header=0,usecols=colunas)    
    pergunta=df_coluna_by_coluna.columns[1]     
    df_coluna_by_coluna = df_coluna_by_coluna.rename(columns={ pergunta : 'Answer'})    
    df_coluna_by_coluna['Question']=pergunta
    df_coluna_by_coluna['Questionid']=i        
    
    df = (pd.concat([df, df_coluna_by_coluna],ignore_index = True))
    df['Carimbo_de_data_hora']= (pd.to_datetime(df['Carimbo_de_data_hora']))
    df['Questionid']=(pd.to_numeric(df['Questionid']))

print(len(df))


#print(dfok[0:1100])
# dfok1 = dfok[0:1085]
# inicio=(8*216)
# fim=(inicio+1)
# dfok1 = dfok[inicio:fim]

In [ ]:

display(df)

Abaixo criamos uma codificação para os nomes de empresas e outros detalhes.
questionid = 8
questionid = 9

In [ ]:


def verifica(base8,empresa):
    ret='None'
    for a,b in base8.items():
        if (a == empresa):
            ret = b                        
            
    return ret

        
base8 = {
'Senior Sistemas' : 'Empresa1',
'Philips':'Empresa2',
'Ailos' : 'Empresa3',
'Capgemini' : 'Empresa4',
'Ambev Tech' : 'Empresa5',
'Warren' : 'Empresa6',
'DataInfo' : 'Empresa7',
'Farmácias App' : 'Empresa8',
'Havan Labs' : 'Empresa9',
'T-Systems' : 'Empresa10',
'Unifique' : 'Empresa11'
}

# base8 = {
# 'Empresa1' : 'Senior Sistemas',
# 'Empresa2':  'Philips',
# 'Empresa3' : 'Ailos',
# 'Empresa4' : 'Capgemini',
# 'Empresa5' : 'Ambev Tech',
# 'Empresa6' : 'Warren',
# 'Empresa7' : 'DataInfo',
# 'Empresa8' : 'Farmácias App',
# 'Empresa9' : 'Havan Labs',
# 'Empresa10' : 'T-Systems',
# 'Empresa11' : 'Unifique'
# }

#Ailos, Ambev Tech, Capgemini,
#DataInfo, Farmácias App, Havan Labs, 
#Philips, Senior Sistemas, 
#T-Systems, Unifique, Warren

def verifica_b9(base9,empresa):
    ret='None'
    for a,b in base9.items():
        if (a == empresa):
            ret = b                        
            
    return ret

base9 = {
'Empresa1' : 'Empresa1',
'Empresa2' : 'Empresa2',
'Empresa3' : 'Empresa3',
'Empresa4' : 'Empresa4',
'Empresa5' : 'Empresa5',
'Empresa6' : 'Empresa6',
'Empresa7' : 'Empresa7',
'Empresa8' : 'Empresa8',
'Empresa9' : 'Empresa9',
'Empresa10' : 'Empresa10',
'Empresa11' : 'Empresa11'
}

In [ ]:
#dataframe New Serializer
dfns=pd.DataFrame()

crb=[]
qst=[]
qid=[]
ans=[]
ans_code=[]

for index,row in df.iterrows():            
    for answerseparada in (list(str.split(row.Answer,sep=','))): 
        crb.append(row.Carimbo_de_data_hora)
        qst.append(row.Question)
        qid.append(row.Questionid)
        ans.append(answerseparada)
        if (row.Questionid == 8):
            ans_code.append(verifica(base8,answerseparada))
        elif (row.Questionid == 9):
            ans_code.append(verifica_b9(base9,answerseparada))
        else:
            ans_code.append(answerseparada)        
                
        
dfns['Carimbo_de_data_hora'] = crb
dfns['Question'] = qst
dfns['Questionid'] = qid
dfns['Answer'] = ans
dfns['AnswerCode'] = ans_code


print(dfns.shape)

In [ ]:
display(dfns)

In [ ]:
import mysql.connector

In [ ]:

cnx = mysql.connector.connect(
    host = '3.89.36.150',
    user = 'e2122g3',
    password = 'e2122g3@16@ago',
    database = 'e2122g3'
    )

cur = cnx.cursor()

cur.execute("""
    DROP TABLE IF EXISTS PERGUNTAS_TCC; 
""")

cur.execute("""    
    CREATE TABLE PERGUNTAS_TCC(
            PERGUNTAS_CARIMBO DATE NOT NULL,
            PERGUNTAS_ID_RESPOSTA INTEGER,
            PERGUNTAS_NOME TEXT NOT NULL,
            PERGUNTAS_RESPOSTA TEXT NOT NULL
    );
""")

In [ ]:
divisoes = int((len(dfns))/1000+1)

contador=0
print(divisoes)

def insere_valores(inicio,fim):
    print(inicio,fim)
    values = []
    for index,row in dfns[inicio:fim].iterrows():    
        for xresp in (list(str.split(row.Answer,sep=','))):
            CARIMBO = row.Carimbo_de_data_hora
            IDRESPOSTA = row.Questionid
            PERGUNTA = row.Question
            RESPOSTA = xresp 
            contador = contador + 1
            values.append((CARIMBO,IDRESPOSTA,PERGUNTA,RESPOSTA))           
            print((inicio,fim,CARIMBO,IDRESPOSTA,PERGUNTA,RESPOSTA))

    insert_values = "".join(str(values).strip('[]'))
    sql=(f"INSERT INTO PERGUNTAS_TCC (PERGUNTAS_CARIMBO,PERGUNTAS_ID_RESPOSTA,PERGUNTAS_NOME,PERGUNTAS_RESPOSTA) VALUES {insert_values}")

    
    cur.execute(sql)
    cnx.commit()

In [ ]:


divisoes = int((len(dfns))/1000+1)

print(divisoes)

total = int(len(dfns))
passo = int(len(dfns)/divisoes)
saldo = total

x, inicio, fim = 0, 0, 0
lista = []

while saldo > 0:   

    fim = fim+passo
    print(f'saldo: {saldo} passo: {passo}' )

    if saldo < passo:
        fim = inicio + (saldo-1)      
        
        # lista.append((inicio, inicio+saldo))
    else:
        fim = inicio + (passo -1)
        # lista.append((inicio, fim))        

    saldo = saldo-passo
    if saldo < 10:
        fim = fim + saldo 
        saldo = saldo - saldo 
    lista.append((inicio,fim))

    
    # inicio = inicio + passo +1
    inicio = fim + 1 

for x, y in lista:
    print(f'*************: {x},{y} = {y-x}')
    insere_valores(x, y)

In [ ]:

cnx = mysql.connector.connect(
    host = '3.89.36.150',
    user = 'e2122g3',
    password = 'e2122g3@16@ago',
    database = 'e2122g3'
    )
cur = cnx.cursor()
cur.execute("""
    SELECT COUNT(*) FROM PERGUNTAS_TCC; 
""")

print(f'Contador:       {contador}')
print(f'Contador Mysql: {cur.fetchone()} ')